.myContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.centralize-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.myCard {
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.myCard-blue {
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(22, 138, 253, 0.4);
}

.halfWidth {
  width: 50%;
}

.myImg {
  max-width: 24rem;
  max-height: 16rem;
  border-radius: 10px;
}

/* Custom Styles */

.myContainer > div h1 {
  font-weight: bold;
  padding-top: 1rem;
}

.experienceIcon {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
  grid-template-rows: repeat(3, 1fr); /* 2 equal rows */
  gap: 0 0.5rem; /* Optional: to add space between items */
}

figure h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
}

figure {
  height: fit-content;
}

figcaption {
  overflow-wrap: break-word;
  max-width: 24rem;
}

.experienceIcon > div .fas {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: 2px solid blue;
  background-color: blue;
  color: white;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.WhyUs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.WhyUs > div h2 {
  font-weight: bold;
  width: fit-content;
}

.card-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.card-horizontal {
  display: flex;
  justify-content: start;
  gap: 2rem;
  flex-direction: row;
}

.myText {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  padding-left: 1rem;
  text-align: center;
}

.card-horizontal-reverse {
  display: flex;
  justify-content: start;
  gap: 2rem;
  flex-direction: row-reverse;
}

.myTextReverse {
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  padding-right: 1rem;
  text-align: center;
}

.experienceIcon > div > h5 {
  font-weight: bold;
  font-size: medium;
  padding-left: 1.2rem;
}

.mygrid-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0rem 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.facilitiesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.freezersubtitle {
  margin-top: 5rem;
}

.freezerImg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.freezerImg img {
  width: 100%;
}

@media only screen and (max-width: 750px) {
  .myContainer {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .mygrid-gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .WhyUs {
    width: fit-content;
  }

  .card-flex-row {
    width: 8rem !important;
  }
}

@media only screen and (max-width: 1000px) {
  .card-horizontal {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .myImg {
    max-width: 18rem;
    max-height: 10rem;
    border-radius: 10px;
  }

  .card-flex-row {
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
    width: 10rem;
  }

  .experienceIcon > div > h5 {
    padding: 0 0 0 0;
  }

  .myText,
  .myTextReverse {
    border: none;
  }
  .card-horizontal-reverse {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
