* {
  scroll-margin-top: 20vh;
}

html {
  scroll-behavior: smooth;
}

.container-disabled {
  display: none !important;
}

.parallax.attachment-scroll {
  background-attachment: scroll !important;
}

.border-radius-sm {
  border-radius: 5px;
}
.border-radius-md {
  border-radius: 10px;
}

.border-right-md {
  border-right: 2px solid black;
}

.border-all {
  border: 2px solid black;
}

.border-white {
  border-color: white !important;
}

.border-black {
  border-color: #000 !important;
}

.bg-coffee {
  background-color: #1c140f !important;
}

.snowy-container {
  position: relative;
  z-index: 1;
  display: flex;
}

.snowy-container #snowCanvas {
  position: absolute;
  inset: 0 0 0 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.my-horizontal-card {
  display: flex;
  justify-content: center;
  gap: 15px;
  border: 2px solid grey;
  width: fit-content;
  border-radius: 10px;
  padding: 0 !important;
  margin: 0;
}

.my-horizontal-card img {
  border-radius: 10px;
  max-width: 480px;

  object-fit: cover;
  /* Adjust the gradient stops to control the transparency range */
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

.my-horizontal-card .horizontal-card-body {
  padding: 2em 3em 2em 3em;
}

.horizontal-card-body .horizontal-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.horizontal-card-body .horizontal-card-text {
  max-height: 200px;
  overflow: auto;
  word-wrap: break-word;
  padding: 5px;
  margin: 0;
  background-color: #fff;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

.disable-lg {
  display: none;
}

.sticky {
  position: sticky !important;
  top: -0.1rem;
}

.shadow {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.personal-container {
  padding: 2rem;
}

.hover-scaled:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in;
}
.hover-scaled {
  transform: scale(1);
  transition: transform 0.3s ease-in;
}

.parallax {
  height: 100% !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.rounded-sm {
  border-radius: 5px;
}

.hover-transform {
  transform: scale(1) !important;
  transition: transform 0.5s ease-in-out !important;
}

.hover-transform:hover {
  transform: scale(1.1) !important;
  /* animation: ease-in-out 0.5s ease-in-out; */
  transition: transform 0.5s ease-in-out !important;
}

/* @keyframes ease-in-out {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
} */

.container-h-fit {
  height: fit-content;
}

.container-w-fit {
  width: fit-content;
}

.text-white {
  color: white !important;
}

.myImg-h-fit {
  height: 100%;
}
.myImg-w-fit {
  width: 100%;
}

.max-width-half {
  max-width: 50%;
}

/* #yellowfintuna {
  display: flex;
  justify-content: center;
} */

/* testing aja */

.btn-black {
  background-color: black;
  color: white;
}

.btn-black:hover {
  background-color: rgb(192, 192, 192);
  color: black;
  font-weight: bold;
}

.btn-light {
  background-color: white !important;
  color: black !important;
}

.btn-light:hover {
  background-color: rgb(192, 192, 192) !important;
  color: black !important;
  font-weight: bold !important;
}

.btn-lightblue {
  background-color: #0099ff;
  color: black;
}

.bg-lightblue {
  background-color: #0099ff;
}

.bg-deepsea {
  background-color: #003366;
}

.bg-frost {
  background-image: linear-gradient(to bottom, #003366 25%, #4283c5);
}

.mybtn {
  padding: 0.3rem 0.5rem;
  margin: 5px;
  border-radius: 5px;
  background-color: deepskyblue;
}

ul.no-bullets {
  list-style-type: none;
}

.myImg-small {
  width: 100%;
  height: 100%;
}

.myContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wave {
  background-image: url("../images/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(50% - 200px) center;
  width: 100%;
  height: auto;
}

.bg-soft-blue {
  background-color: #dee7f0;
}

.half-a-border-on-bottom {
  border-bottom: 1px solid;
  border-image: linear-gradient(to left, #fff 80%, transparent 50%) 100% 1;
}

.fish-product-title {
  margin-top: 1.5rem;
}

.half-a-border-on-bottom-black {
  border-bottom: 2px solid;
  border-image: linear-gradient(to left, #000 80%, transparent 50%) 100% 1;
}

.centralize-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.myCard {
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.myCard-nop-nom {
  margin: 0px;
  padding: 0px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dynamic-padding {
  padding-left: var(--px-value, 0rem) !important; /* Default: 1rem */
  padding-right: var(--px-value, 0rem) !important;
  padding-top: var(--py-value, 0rem) !important;
  padding-bottom: var(--py-value, 0rem) !important;
}

.myCard-blue {
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(22, 138, 253, 0.4);
}

.myCard-w-fitcontent {
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: fit-content;
}

.halfWidth {
  width: 50%;
}

.myImg {
  max-width: 24rem;
  max-height: 16rem;
  border-radius: 10px;
}

.myImg-lg {
  max-width: 48rem;
  max-height: 20rem;
  border-radius: 10px;
}

.my-font-sm {
  font-size: 16px !important;
}

.my-font-md {
  font-size: 18px !important;
}

.my-font-lg {
  font-size: 35px !important;
}
.my-font-normal {
  font-size: 24px !important;
}

.my-font-xl {
  font-size: 45px !important ;
}

.container-tl {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* about us page style */
.about-container-flexcol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.visimisi-Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
}
/* about us page end */

/* Custom Styles */

.problem-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.problem-report-icon {
  font-size: 4em;
  color: white;
}

.freezer-image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

.social-media-icon {
  font-size: 4rem;
}

.contact-social-media-icon {
  font-size: 3rem;
}

.contact-social-media-icon a:hover {
  color: orange !important;
}

.social-media-icon a:hover {
  color: orange !important;
}

.social-media-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0 1rem 0;
  height: 100%;
}

.fact-util-container {
  padding-right: 4rem;
  padding-left: 4rem;
}

.my-dropdown {
  position: absolute;
  background-color: white;
  display: none;
}

.my-dropdown:hover {
  background-color: rgb(195, 193, 193);
  transition: background-color 0.3s;
}

.my-dropdown-container:hover .my-dropdown {
  display: block;
}

.certificate-logo-container {
  max-width: 200px; /* Limit width of grid item */
  max-height: 200px; /* Limit height of grid item */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center; /* Center content */
}

.certificates-icon-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem 0.5rem;
  max-width: 16rem;
  max-height: auto;
}

.certificate-logo {
  max-width: 5rem;
  max-height: 5rem;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
  grid-template-rows: auto auto; /* Auto row height */

  justify-items: center; /* Center items horizontally in their cell */
  align-items: center; /* Center items vertically in their cell */
  height: 100%; /* Optional: Ensures full-height if needed */
  padding: 16px;
}

.certificate-img {
  max-width: 22.5rem;
}

.certification-text {
  padding-left: 3rem;
}

.client-card {
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  /* adding new */
  height: fit-content;
  width: fit-content;
}

.client-image {
  max-width: 12rem;
  max-height: 12rem;
  border-radius: 10px;
}

.quote-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
}

.opinion-card-section {
  margin-top: 2.5rem;
}

.opinion-card {
  max-width: 30rem !important;
  height: 19rem !important;
  background-color: #1c140f;
  border-radius: 10px;
}

.whyus-title {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visi-misi-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
}

.visi-misi-textarea {
  max-width: 25rem;
  border-radius: 10px;
}

.subheading-bigger-text {
  font-size: 16px !important;
}

.corpo-bg-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.corpo-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

.corpo-logo {
  width: 100%;
  max-height: 100%;
}

.supplyChain-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.supplyChain-img {
  width: 100%;
}

.supplyChain-img > img {
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: transform 0.3s ease-in;
}

.supplyChain-img > img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in;
}

.storage-text-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.storage-images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
}

.storage-images > img {
  max-width: 45rem;
}

.catalog-img {
  max-width: 24rem;
  margin-left: 3.5rem;
}

.map-image {
  width: 100%;
  margin-top: 3.5rem;
}

.myContainer > div h1 {
  font-weight: bold;
  padding-top: 1rem;
}

.product-desc-slider {
  margin-top: 3rem;
}

.experienceIcon {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  grid-template-rows: repeat(2, 1fr); /* 2 equal rows */
  gap: 1rem 1rem; /* Optional: to add space between items */
}

.my-grid-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  grid-template-rows: repeat(2, 1fr); /* 2 equal rows */
  gap: 1 1.5rem; /* Optional: to add space between items */
}

figure h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
}

figure {
  height: fit-content;
}

figcaption {
  overflow-wrap: break-word;
  max-width: 24rem;
}

.experienceIcon > div .fas {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: 2px solid blue;
  background-color: blue;
  color: white;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.WhyUs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.WhyUs > div h2 {
  font-weight: bold;
  width: fit-content;
}

.card-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.card-horizontal {
  display: flex !important;
  justify-content: start;
  gap: 2rem;
  flex-direction: row;
}

.myText {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  padding-left: 1rem;
  text-align: center;
}

.myText-left {
  border-left: 2px solid white;
  padding-left: 1rem;
  text-align: left;
}

.myText-left-reverse {
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  padding-right: 1rem;
  text-align: left;
}

.myText-right {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  padding-left: 1rem;
  text-align: right;
}

.card-horizontal-reverse {
  display: flex;
  justify-content: start;
  gap: 2rem;
  flex-direction: row-reverse;
}

.myTextReverse {
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  padding-right: 1rem;
  text-align: center;
}

.experienceIcon > div > h5 {
  font-weight: bold;
  font-size: medium;
  padding-left: 1.2rem;
}

.mygrid-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0rem 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.facilitiesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.freezersubtitle {
  margin-top: 5rem;
}

.freezerImg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.freezerImg img {
  width: 100%;
  /* height: 40rem; */
}

.titleImg {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleImg img {
  width: 100%;
  height: auto;
  /* height: 40rem; */
}

.ourUtilityGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
  margin-top: 4rem;
}

.ourUtilityGrid > figure figcaption {
  text-align: center;
  margin-top: 0.8rem;
  font-size: medium;
}

.commitmentImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.certificateGallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

.catalogTitle {
  margin-bottom: 5rem;
}

.catalogItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content !important;
  /* animation: translate-down 0.2s ease-in-out forwards; */
}

/* .catalogItem:hover {
  animation: translate-up 0.2s ease-in-out forwards;
} */

@keyframes translate-up {
  100% {
    translate: 0px -36px;
    transform: scale(1.2);
  }
}

@keyframes translate-down {
  from {
    translate: 0px -36px;
    transform: scale(1.2);
  }
  to {
    translate: 0px 0px;
    transform: scale(1);
  }
}

.catalog-downloadbtn {
  margin-top: 1rem;
}

.catalog-viewbtn {
  margin-top: 0.2rem;
}

.catalogImg {
  width: fit-content;
  height: fit-content;
}

.catalogImg > img {
  width: 12rem;
  height: 16rem;
}

.bookshelf {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/gambar-nelayan.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.price-catalog {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/perahu-nelayan.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bookshelfitem-transparent {
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* product page style */
.navigation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.navigation-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.product-container {
  margin-top: 8rem;
}

/* grid sytling */
.my-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  grid-template-rows: auto auto; /* Auto row height */
  gap: 16px;
  justify-items: center; /* Center items horizontally in their cell */
  align-items: center; /* Center items vertically in their cell */
  height: 100%; /* Optional: Ensures full-height if needed */
  padding: 16px;
}

/* Center single item in the middle column */
.my-grid-container > :only-child {
  grid-column: 2 / 3; /* Start at column 2 and span 1 column */
}

/* Grid item styling */
.grid-item {
  background-color: #f79f24;
  color: #fff;
  padding: 16px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.my-grid-container-small {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  grid-template-rows: auto auto; /* Auto row height */
  gap: 16px;
  justify-items: center; /* Center items horizontally in their cell */
  align-items: center; /* Center items vertically in their cell */
  height: 100%; /* Optional: Ensures full-height if needed */
  padding: 0px;
}

.my-grid-card {
  margin: 5px auto;
  padding: 5px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-image {
  max-width: 21.25rem;
  max-height: 21.25rem;
  border-radius: 10px;
}

/*  */
/*  */
/* freezer icon card style */
.freezer-icon-card-container {
  margin-top: 32px;
}
.storage-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.storage-card {
  width: 240px;
  text-align: center;
  background: #1c140f;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.storage-card:hover {
  transform: translateY(-10px);
}

.card-content {
  padding: 15px;
}

.card-content i {
  font-size: 48px;
  color: #fff;
  margin-bottom: 10px;
  padding: 24px;
}

.card-content h3 {
  margin: 10px 0 5px;
}

.card-content p {
  font-size: 14px;
  color: #bbbbbb;
}

/*  */
/*  */
/*  */
/*  */
/*  */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* Responsive Styles */
@media only screen and (max-width: 1000px) {
  .myImg-lg {
    max-width: 44rem;
    max-height: 18rem;
    border-radius: 10px;
  }

  .my-horizontal-card-container {
    display: flex;
    justify-content: center;
  }

  .my-horizontal-card-container.swiper-slide {
    display: flex !important;
  }

  .my-horizontal-card {
    display: block;

    border: 2px solid grey;
    max-width: 480px;
    height: fit-content;
    border-radius: 10px;
    padding: 0 !important;
    margin: 0;
  }

  .my-horizontal-card img {
    border-radius: 10px;
    max-width: 480px;

    object-fit: cover;
    /* Adjust the gradient stops to control the transparency range */
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .container-tl {
    flex-wrap: wrap-reverse;
  }

  .certification-button {
    margin-top: 2rem;
  }

  .certificate-img {
    margin-top: 4rem;
    max-width: 20rem;
  }

  .certification-text {
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: center;
  }
  .corpo-bg-wrapper {
    flex-wrap: wrap-reverse;
    margin-top: 1rem;
  }

  .corpo-logo-container {
    max-width: 100%;
  }

  .supplyChain-wrapper {
    flex-wrap: wrap;
  }

  .supplyChain-img > img {
    margin-top: 3rem;
  }

  .storage-text-image {
    /* flex-wrap: wrap-reverse; */
    gap: 1rem;
  }

  .storage-images > img {
    max-width: 35rem;
  }

  .storage-images {
    margin-top: 2rem;
  }

  .my-grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
  }
  .my-grid-container > :only-child {
    grid-column: 1 / 3; /* Center across 2 columns */
  }

  /* added */
  .card-horizontal {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .catalog-img {
    max-width: 24rem;
    margin-left: 0;
    margin-top: 4rem;
  }

  .product-container {
    margin-top: 5rem;
  }

  .myImg {
    max-width: 18rem;
    max-height: 10rem;
    border-radius: 10px;
  }

  .card-flex-row {
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
    width: 10rem;
  }

  .experienceIcon > div > h5 {
    padding: 0 0 0 0;
  }

  .myText,
  .myTextReverse,
  .myText-left,
  .myText-left-reverse,
  .myText-right {
    border: none;
    max-width: 100% !important;
  }
  .card-horizontal-reverse {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .pricing-katalog-title {
    text-align: center;
  }
}

@media only screen and (max-width: 991.98px) {
  .disable-lg {
    display: block;
  }

  .fact-util-container {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .my-dropdown-container:hover .my-dropdown {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .visi-misi-textarea {
    max-width: 22rem;
    border-radius: 10px;
  }

  .contact-social-media-icon {
    font-size: 2.5rem;
  }

  .myImg-lg {
    max-width: 40rem;
    max-height: 16rem;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .border-right-md {
    border-right: none;
  }
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 0px 5px;
  }

  .freezer-image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
  }

  .social-media-icon {
    font-size: 3.5rem;
  }

  .contact-social-media-icon {
    font-size: 2.3rem;
  }
  .catalog-grid {
    grid-template-columns: repeat(1, 1fr); /* 3 equal columns */
    grid-template-rows: auto auto; /* Auto row height */
  }
  .certificate-img {
    max-width: 18rem;
  }

  .certification-text {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .ourUtilityGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .visimisi-Container {
    display: flex;

    flex-wrap: wrap;
  }

  .catalog-img {
    max-width: 20rem;
    margin-left: 0;
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 750px) {
  .contact-social-media-icon {
    font-size: 3rem;
  }
  .personal-container {
    padding: 0.5rem;
  }
  .visi-misi-container {
    gap: 1rem;
  }

  .my-font-sm {
    font-size: 12px !important;
  }

  .my-font-md {
    font-size: 16px !important;
  }

  .my-font-lg {
    font-size: 28px !important;
  }

  .my-font-normal {
    font-size: 20px !important;
  }

  .my-font-xl {
    font-size: 35px !important;
  }

  .storage-images > img {
    max-width: 20rem;
  }

  .my-grid-container {
    grid-template-columns: 1fr; /* Single column for small screens */
  }
  .my-grid-container > :only-child {
    grid-column: 1 / 2; /* Default to the single column */
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h1 {
    font-size: 32px;
  }

  .myCard {
    padding: 10px;
  }

  /* added */
  .myContainer {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  /* .parallax {
    background-attachment: scroll !important;
  } */

  .experienceIcon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem 0.5rem;
  }
  .my-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1 1rem;
  }

  .mygrid-gallery,
  .certificateGallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 0.5rem;
  }

  .WhyUs {
    width: fit-content;
  }

  .card-flex-row {
    width: 8rem !important;
  }

  .catalog-img {
    max-width: 16rem;
    margin-left: 0;
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 500px) {
  .my-horizontal-card {
    max-width: 360px;
  }

  .my-horizontal-card img {
    max-width: 360px;
  }

  .my-horizontal-card .horizontal-card-body {
    padding: 3em 2em 3em 2em;
  }

  .social-media-icon {
    font-size: 3rem;
  }
  .contact-social-media-icon {
    font-size: 2.5rem;
  }
  .my-grid-container-small {
    grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
    grid-template-rows: auto auto; /* Auto row height */
    gap: 0px 5px;
  }

  .gallery-image {
    max-width: 12rem;
    max-height: 12rem;
    border-radius: 10px;
  }

  .storage-images > img {
    max-width: 19rem;
  }
}

@media only screen and (max-width: 450px) {
  .certification-text {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .client-image {
    max-width: 9rem;
    max-height: 9rem;
  }

  .storage-images > img {
    max-width: 22rem;
  }
}

@media only screen and (max-width: 400px) {
  .storage-images > img {
    max-width: 19rem;
  }

  .image-grid {
    grid-template-columns: repeat(2, 1fr);

    gap: 0px 5px;
  }

  .my-horizontal-card {
    max-width: 320px;
  }

  .my-horizontal-card img {
    max-width: 320px;
  }

  .my-horizontal-card .horizontal-card-body {
    padding: 2em 1em 2em 1em;
  }
}

@media only screen and (max-widht: 360px) {
}

@media only screen and (max-width: 340px) {
  .social-media-icon {
    font-size: 2.5rem;
  }
  .contact-social-media-icon {
    font-size: 2rem;
  }
  .gallery-image {
    max-width: 8rem;
    max-height: 8rem;
    border-radius: 10px;
  }

  .storage-images > img {
    max-width: 16rem;
  }

  .my-horizontal-card {
    max-width: 300px;
  }

  .my-horizontal-card img {
    max-width: 300px;
  }

  .my-horizontal-card .horizontal-card-body {
    padding: 1em 0.5em 1em 0.5em;
  }
}
